[submodule "sCore"]
	path = Subprojects/sCore
	url = https://github.com/sEngineLibs/sCore
[submodule "sUI"]
	path = Subprojects/sUI
	url = https://github.com/sEngineLibs/sUI
[submodule "s2D"]
	path = Subprojects/s2D
	url = https://github.com/sEngineLibs/s2D
